/********** Template CSS **********/
:root {
  --primary: #88B44E;
  --secondary: #FB9F38;
  --light: #F5F8F2;
  --dark: #252C30;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.fw-medium {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-black {
  font-weight: 900;
}

h2 {
  font-size: 25px;
}

.callto-action {
  background-image: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url('/home/karthik/Jaguar-homestay/bandipur/assets/image/leafs.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  padding: 90px 0;
}

.call-content h3 {
  color: white;
  font-size: 28px;
  font-weight: 700;
  font-family: sans-serif;
}

.call-content a {
  font-size: 18px;
  font-weight: 500;
  padding: 12px 40px;
  border-radius: 5px;
  transition: 0.5s;
  border: 2px solid white;
  color: white;
}


/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease-out, visibility 0s linear .5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity .5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}


/*** Button ***/
.btn {
  transition: .5s;
  font-weight: 500;
}

.btn-primary,
.btn-outline-primary:hover {
  color: var(--light);
}

.btn-secondary,
.btn-outline-secondary:hover {
  color: var(--dark);
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}


/*** Section Title ***/
.section-title {
  position: relative;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
}

.section-title::before {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: var(--primary);
}

.section-title::after {
  position: absolute;
  content: "";
  width: 28px;
  height: 28px;
  bottom: -13px;
  left: calc(25% - 13px);
  background: var(--dark);
  border: 10px solid #FFFFFF;
  border-radius: 28px;
}

.section-title.text-center::before {
  left: 25%;
}

.section-title.text-center::after {
  left: calc(50% - 13px);
}


/*** Products ***/
.bg-white-pro {
  border-radius: 10px;
  background-color: #fff;
}

.product {
  background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url('/home/karthik/Jaguar-homestay/bandipur/assets/image/leafs.png') left bottom no-repeat;
  background-size: auto;
}

.product-carousel .owl-nav {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.product-carousel .owl-nav .owl-prev,
.product-carousel .owl-nav .owl-next {
  margin: 0 10px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: var(--primary);
  border-radius: 55px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .15);
  font-size: 25px;
  transition: .5s;
}

.product-carousel .owl-nav .owl-prev:hover,
.product-carousel .owl-nav .owl-next:hover {
  background: #FFFFFF;
  color: var(--primary);
}


/* About us section styles */
.aboutus-img img{
  width: 300px;
  height: 200px;
}

#aboutus-bg{
  background: rgb(4, 87, 76);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  color: wheat;
  margin-top: 30px;
}

/* End of About us section */


/* About room section start */

#Room-section{
  background: rgb(2, 95, 72);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  
}




/*** Store ***/
.mb-3 {
  color: #88B44E;
}

.store-item .store-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(138, 180, 78, .3);
  opacity: 0;
  transition: .5s;
}

/* .store-item:hover .store-overlay {
  opacity: 1;
} */


.store-item img{
  width: 350px;
  height: 220px;
}

/*** Contact ***/
.contact .btn-square {
  width: 100px;
  height: 100px;
  border: 20px solid var(--light);
  background: var(--primary);
  border-radius: 50px;
}


/*** Testimonial ***/
.testimonial {
  background: linear-gradient(rgba(136, 180, 78, .85), rgba(136, 180, 78, .85)), url('/home/karthik/Jaguar-homestay/bandipur/assets/image/leafs2.jpg') center center no-repeat;
  background-size: cover;
}

.testimonial-item {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  background: #FFFFFF;
  border: 10px solid var(--primary);
  border-radius: 20px;
}

.testimonial-item img {
  width: 60px !important;
  height: 60px !important;
  border-radius: 60px;
}

.testimonial-carousel .owl-dots {
  margin-top: 35px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.testimonial-carousel .owl-dot {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border-radius: 15px;
  transition: .5s;
}

.testimonial-carousel .owl-dot.active {
  width: 30px;
  background: var(--dark);
}

/*** Reviews ***/

.testimonial-review {
  background: linear-gradient(rgba(136, 180, 78, .1), rgba(136, 180, 78, .1)), url('/home/karthik/Jaguar-homestay/bandipur/assets/image/leafs.png') left bottom no-repeat;
  background-size: auto;
}

.star-rating {
  display: inline-block;
  font-size: 24px;
}

.star {
  color: gold;
  display: inline-block;
  width: 1em;
  overflow: hidden;
}

.star::before {
  content: '\2605';
  display: block;
  width: 100%;
}

.half-star::before {
  content: '\2605';
  display: inline-block;
  width: 50%;
}

.empty-star::before {
  content: '\2606';
  display: block;
  width: 100%;
}


/*** Footer ***/
.whatsapp-icon {
  font-size: 2em;
  color: green;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.footer {
  color: #B0B9AE;
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  color: #B0B9AE;
  font-weight: normal;
  text-transform: capitalize;
  transition: .3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Google Sans" , sans-serif;
  font-weight: 900;
  color: var(--primary);
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--light);
  letter-spacing: 1px;
  box-shadow: none;
}

.copyright {
  color: #B0B9AE;
}

.copyright {
  background: #252525;
}

.copyright a:hover {
  color: #FFFFFF !important;
}
*,
*:before,
*:after {
box-sizing: border-box;
}


::-webkit-scrollbar {
width: 0;
}

header {
position: relative;
height: 100vh;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
background-color: #476052;
}
header .overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
header .overlay h1 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 4;
margin: 0;
text-transform: uppercase;
text-align: center;
font-size: 14vw;
color: lightblue;
mix-blend-mode: screen;
opacity: 0.78;
}
@media (max-width: 768px) {
header .overlay h1 {
  font-size: 4rem;
}
}
@media (max-height: 500px) {
header .overlay h1 {
  font-size: 6rem;
}
}
header .overlay h1 span {
display: block;
letter-spacing: 5px;
font-size: 2vw;
}
@media (max-width: 768px) {
header .overlay h1 span {
  font-size: 1.25rem;
}
}
header .parallax {
position: relative;
width: 100%;
height: 100%;
}
header .parallax div {
position: absolute;
bottom: -15px;
left: -15px;
width: calc(100% + (15px * 2));
height: calc(100% + (15px * 2));
background-position: 0 100%;
background-repeat: no-repeat;
background-size: cover;
transition: transform 200ms ease;
}
@media (max-height: 600px) {
header .parallax div {
  background-size: 100%;
}
}
header .parallax .one {
background-image: url('/home/karthik/Jaguar-homestay/bandipur/assets/image/mist.png');
z-index: 4;
animation: side 25s linear infinite;
}
header .parallax .two {
background-image: url('/home/karthik/Jaguar-homestay/bandipur/assets/image/tree_top.png');
z-index: 3;
}
header .parallax .three {
background-image: url('/home/karthik/Jaguar-homestay/bandipur/assets/image/mist.png');
z-index: 2;
animation: side 25s linear 5s infinite;
}
header .parallax .four {
background-image: url('/home/karthik/Jaguar-homestay/bandipur/assets/image/tree_mid.png');
z-index: 1;
}
header .parallax .five {
background-image: url('/home/karthik/Jaguar-homestay/bandipur/assets/image/tree_base.jpg');
z-index: 0;
}

@keyframes side {
20%, 60%, 100% {
  transform: translateX(15px);
}
40%, 80% {
  transform: translateX(-15px);
}
}


.contact-button a{
  width: 150px;
  height: 40px;
}
.caru-section {
  padding: 5rem 0;
  background-image: url('/home/karthik/Jaguar-homestay/bandipur/assets/image/tree_top.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  color: white;

}

.caru-section::before {
  position: absolute;
  content: "";
  inset: 0;
  /* background-color: rgba(119, 241, 103, 0.7); */
}

.event-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.15);
}

.image-title h3 {
  text-align: center;
  font-size: 20px;
}

.image-title span {
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 14px;
}
.custom-span{
  color: black;
}



.carousel-indicators button {
  background: rgba(255, 255, 255, 0.7) !important;
  width: 15px !important;
  height: 6px !important;
  border-radius: 50%;
  border-top: none !important;
}

.carousel-indicators .active {
  background: white !important;
}

.carousel-indicators {
  position: absolute;
  content: "";
  bottom: -60px !important;
}

.star-icon {
  margin-right: 15px;
}

.star-icon li {
  list-style: none;
}

.star-icon li i {
  color: #cea135;
}

.discrip-sec span {
  color: white;
  font-style: italic;
  font-weight: 400;

}


/* why us */
.why-us .why-box {
  padding: 30px;
  background: #CE1212;
  color: #fff;
}

.why-us .why-box h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.why-us .why-box p {
  margin-bottom: 30px;
}

.why-us .why-box .more-btn {
  display: inline-block;
  background: rgba(255, 255, 255, 0.3);
  padding: 6px 30px 8px 30px;
  color: #fff;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.why-us .why-box .more-btn i {
  font-size: 14px;
}

.why-us .why-box .more-btn:hover {
  color: var(--color-primary);
  background: #fff;
}

.why-us .icon-box {
  text-align: center;
  background: #fff;
  padding: 40px 30px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(55, 55, 63, 0.1);
  transition: 0.3s;
}

.why-us .icon-box i {
  color: var(--color-primary);
  margin-bottom: 30px;
  font-size: 32px;
  margin-bottom: 30px;
  background: rgba(206, 18, 18, 0.1);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.why-us .icon-box h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 30px 0;
  font-family: var(--font-secondary);
}

.why-us .icon-box p {
  font-size: 15px;
  color: #6c757d;
}

@media (min-width: 1200px) {
  .why-us .icon-box:hover {
    transform: scale(1.1);
  }
}


/* Safari booking styles */


.safari-content h1 {
  font-size: 32px;
  font-weight: 700;
  font-family: sans-serif;
  color: rgb(3, 3, 61);
}

.safari-content h4 {
  font-size: 18px;
  font-weight: 700;
  color: #19335c;
}

.safari-image img{
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/
.gallery .gallery-item {
  overflow: hidden;
  border-right: 3px solid #454035;
  border-bottom: 3px solid #454035;
}

.gallery .gallery-item img {
  transition: all ease-in-out 0.4s;
}

.gallery .gallery-item:hover img {
  transform: scale(1.1);
}

#gallery{
  margin-top: 5rem;
}

.section-title1{
  font-size: 30px;
}

.section-title1 h2{
  font-size: 60px;
}


/* map Content Section */

#Map-section{
  margin-top: 40px;
}

.map-content{
  text-align: center;
  padding-bottom: 2rem;
}